In [1]:
# Pandas is used for data manipulation
import pandas as pd
# Read in data and display first 5 rows
features = pd.read_csv('c:/question2.csv')

In [2]:
yes_no_stat = {'no' : 0,'yes' : 1}
good_bad_stat = {'bad' : 0,'good' : 1}
features['Married'] = features['Married'].replace(yes_no_stat)
features['Unemployed'] = features['Unemployed'].replace(yes_no_stat)
features['Credit'] = features['Credit'].replace(good_bad_stat)

In [3]:
features

   Age  Married  Unemployed  Credit
0   39        1           1       0
1   25        0           1       0
2   35        1           0       1
3   19        1           1       0
4   25        1           0       1
5   20        0           0       0
6   34        0           0       1
7   26        0           0       1
8   22        0           0       0
9   18        1           0       1

In [4]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['Credit'])

In [5]:
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('Credit', axis = 1)

In [6]:
labels

array([0, 0, 1, 0, 1, 0, 1, 1, 0, 1], dtype=int64)

In [7]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier

In [8]:
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 3, random_state = 42,max_features =1)

In [9]:
# Train the model on training data
rf.fit(features, labels);

In [10]:
features

   Age  Married  Unemployed
0   39        1           1
1   25        0           1
2   35        1           0
3   19        1           1
4   25        1           0
5   20        0           0
6   34        0           0
7   26        0           0
8   22        0           0
9   18        1           0

In [11]:
test_df = pd.read_csv('c:/q2test.csv')

In [12]:
test_df['Married'] = test_df['Married'].replace(yes_no_stat)
test_df['Unemployed'] = test_df['Unemployed'].replace(yes_no_stat)
test_df['Credit'] = test_df['Credit'].replace(good_bad_stat)

In [13]:
test_df = test_df.drop("Credit", axis=1)

In [14]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_df)

In [15]:
predictions

array([0, 1, 1], dtype=int64)